@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-dark: #121212;
    --bg-gray: #181818;
    --bg-blue: #A4D5EC;
    --bg-logo: #2C2C2C;
    --p-color: #504D4D;
    --bg-logo: #2C2C2C;
}

body {
    background-color: var(--bg-dark);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}